In [3]:
def dataloader(dataPath):
    first = True
    images = []
    with open(dataPath+"Train.csv") as f:
        for line in f.readlines():
            if first:
                first=False
                continue
            _, _, _,_,_,_, classId, path = line.strip().split(",")
            images.append((classId, path))
    return images

In [4]:
images = dataloader("./archive/")

In [22]:
import pandas as pd
df = pd.DataFrame(images, columns=["class", "path"])

In [23]:
df["class"].count()

39209

In [32]:
df['class'].value_counts().hist()

In [21]:
df

       class  path
class
0          1   210
1          1  2220
10         1  2010
11         1  1320
12         1  2100
13         1  2160
14         1   780
15         1   630
16         1   420
17         1  1110
18         1  1200
19         1   210
2          1  2250
20         1   360
21         1   330
22         1   390
23         1   510
24         1   270
25         1  1500
26         1   600
27         1   240
28         1   540
29         1   270
3          1  1410
30         1   450
31         1   780
32         1   240
33         1   689
34         1   420
35         1  1200
36         1   390
37         1   210
38         1  2070
39         1   300
4          1  1980
40         1   360
41         1   240
42         1   240
5          1  1860
6          1   420
7          1  1440
8          1  1410
9          1  1470